{% extends 'base.html' %}
{% block title %} Inicio - Bienvenidos{% endblock %} 
{% block container %}
	<div id="mapa" class="capas"></div>
	<div id="datos" class="capas">
		<div id="form">
			<form action="/coords/save" method="post" id="form_coords">{% csrf_token %}{{ form.as_p }}
			  	<p>
					<input type="submit" value="Guardar ubicacion"> 
			  	</p>
			</form>	
		</div>
		<div id="data">
			<ul id="ubicaciones">
			{% for ubicacion in ubicaciones %}
			 	<li>{{ ubicacion.nombre }}{{ ubicacion.user }}-hace {{ ubicacion.fecha|timesince }}</li>
			{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}



